
# Web Scraping - The Dow Jones Constituents

In [1]:
import pandas as pd

In [3]:
const = pd.read_html("https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average")[1]
const

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2.41%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,3.02%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,5.48%
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2.84%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,3.36%
5,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,NaN,4.52%
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,3.50%
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,0.96%
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.22%
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,1.89%
10,Dow,NYSE,DOW,Chemical industry,1991-05-06,NaN,0.98%
11,Goldman Sachs,NYSE,GS,Financial services,2019-04-02,NaN,7.36%
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,6.27%
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,AlliedSignal and Honeywell,4.17%
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.86%
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,NaN,0.57%
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,3.43%
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,2.61%
18,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,5.24%
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,2.10%
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,4.88%
21,Nike,NYSE,NKE,Clothing industry,2013-09-20,NaN,2.13%
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.86%
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,2.82%
24,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,3.62%
25,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,10.29%
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,NaN,0.73%
27,Visa,NYSE,V,Financial services,2013-09-20,NaN,4.16%
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,0.79%
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,2.94%

In [4]:
const = const.iloc[:, :5].copy()
const

,Company,Exchange,Symbol,Industry,Date added
0,3M,NYSE,MMM,Conglomerate,1976-08-09
1,American Express,NYSE,AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12
5,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06
10,Dow,NYSE,DOW,Chemical industry,1991-05-06
11,Goldman Sachs,NYSE,GS,Financial services,2019-04-02
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31
14,IBM,NYSE,IBM,Information technology,1979-06-29
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06
18,McDonald's,NYSE,MCD,Food industry,1985-10-30
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
21,Nike,NYSE,NKE,Clothing industry,2013-09-20
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26
23,Salesforce,NYSE,CRM,Information technology,2020-08-31
24,Travelers,NYSE,TRV,Insurance,2009-06-08
25,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08
27,Visa,NYSE,V,Financial services,2013-09-20
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26
29,Walmart,NYSE,WMT,Retailing,1997-03-17

In [9]:
const.rename(columns= {"Date added": "Date_Added"}, inplace = True)

In [7]:
const['Date_Added'] = pd.to_datetime(const['Date_Added'])

In [8]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB


# Normalizing Unicode Strings and Getting the Ticker Symbols

In [10]:
const

,Company,Exchange,Symbol,Industry,Date_Added
0,3M,NYSE,MMM,Conglomerate,1976-08-09
1,American Express,NYSE,AXP,Financial services,1982-08-30
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12
5,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06
10,Dow,NYSE,DOW,Chemical industry,1991-05-06
11,Goldman Sachs,NYSE,GS,Financial services,2019-04-02
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31
14,IBM,NYSE,IBM,Information technology,1979-06-29
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06
18,McDonald's,NYSE,MCD,Food industry,1985-10-30
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01
21,Nike,NYSE,NKE,Clothing industry,2013-09-20
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26
23,Salesforce,NYSE,CRM,Information technology,2020-08-31
24,Travelers,NYSE,TRV,Insurance,2009-06-08
25,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08
27,Visa,NYSE,V,Financial services,2013-09-20
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26
29,Walmart,NYSE,WMT,Retailing,1997-03-17

In [11]:
const['Symbol'][0]

'MMM'

In [14]:
const.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Company     30 non-null     object
 1   Exchange    30 non-null     object
 2   Symbol      30 non-null     object
 3   Industry    30 non-null     object
 4   Date_Added  30 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 1.3+ KB

In [15]:
import unicodedata

In [16]:
const['Symbol'].apply(lambda x: unicodedata.normalize("NFKD", x))

0      MMM
1      AXP
2     AMGN
3     AAPL
4       BA
5      CAT
6      CVX
7     CSCO
8       KO
9      DIS
10     DOW
11      GS
12      HD
13     HON
14     IBM
15    INTC
16     JNJ
17     JPM
18     MCD
19     MRK
20    MSFT
21     NKE
22      PG
23     CRM
24     TRV
25     UNH
26      VZ
27       V
28     WBA
29     WMT
Name: Symbol, dtype: object

In [17]:
const['Symbol'] = const['Symbol'].apply(lambda x: unicodedata.normalize("NFKD", x))

***Valid values for form are 'NFC', 'NFKC', 'NFD', and 'NFKD'.***

In [19]:
const['Symbol'][1]

'AXP'

In [22]:
const['Ticker'] = const['Symbol'].str.split(": ").apply(lambda x: x[-1])

In [23]:
const

,Company,Exchange,Symbol,Industry,Date_Added,Ticker
0,3M,NYSE,MMM,Conglomerate,1976-08-09,MMM
1,American Express,NYSE,AXP,Financial services,1982-08-30,AXP
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,AMGN
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19,AAPL
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,BA
5,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,CAT
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,CVX
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,CSCO
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,KO
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,DIS
10,Dow,NYSE,DOW,Chemical industry,1991-05-06,DOW
11,Goldman Sachs,NYSE,GS,Financial services,2019-04-02,GS
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,HD
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,HON
14,IBM,NYSE,IBM,Information technology,1979-06-29,IBM
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,INTC
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,JNJ
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,JPM
18,McDonald's,NYSE,MCD,Food industry,1985-10-30,MCD
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,MRK
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,MSFT
21,Nike,NYSE,NKE,Clothing industry,2013-09-20,NKE
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,PG
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,CRM
24,Travelers,NYSE,TRV,Insurance,2009-06-08,TRV
25,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,UNH
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,VZ
27,Visa,NYSE,V,Financial services,2013-09-20,V
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,WBA
29,Walmart,NYSE,WMT,Retailing,1997-03-17,WMT

In [24]:
ticker_list = const['Ticker'].to_list()
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT']

In [25]:
const.to_csv("Consti.csv", index = False)

# 111
# Download and Installiation of an API Wrapper Package

In [27]:
import yfinance as yf


# Loading and Saving Historical Stock Prices

In [28]:
import pandas as pd
import yfinance as yf

In [29]:
yf.download("^DJI")

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1992-01-02,3152.100098,3172.629883,3139.310059,3172.399902,3172.399902,23550000
1992-01-03,3172.399902,3210.639893,3165.919922,3201.500000,3201.500000,23620000
1992-01-06,3201.500000,3213.330078,3191.860107,3200.100098,3200.100098,27280000
1992-01-07,3200.100098,3210.199951,3184.479980,3204.800049,3204.800049,25510000
1992-01-08,3204.800049,3229.199951,3185.820068,3203.899902,3203.899902,29040000
...,...,...,...,...,...,...
2023-08-11,35111.359375,35354.601562,35059.988281,35281.398438,35281.398438,277840000
2023-08-14,35273.890625,35335.449219,35169.968750,35307.628906,35307.628906,300250000
2023-08-15,35219.371094,35219.371094,34908.500000,34946.390625,34946.390625,323920000
2023-08-16,34914.960938,35133.558594,34757.371094,34765.738281,34765.738281,332310000
2023-08-17,34829.609375,34888.480469,34688.808594,34786.250000,34786.250000,172288832

In [30]:
dji = yf.download("^DJI", start= "2007-01-01", end= "2020-03-31")
dji

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-01-03,12459.540039,12580.349609,12404.820312,12474.519531,12474.519531,327200000
2007-01-04,12473.160156,12510.410156,12403.860352,12480.690430,12480.690430,259060000
2007-01-05,12480.049805,12480.129883,12365.410156,12398.009766,12398.009766,235220000
2007-01-08,12392.009766,12445.919922,12337.370117,12423.490234,12423.490234,223500000
2007-01-09,12424.769531,12466.429688,12369.169922,12416.599609,12416.599609,225190000
...,...,...,...,...,...,...
2020-03-24,19722.189453,20737.699219,19649.250000,20704.910156,20704.910156,799340000
2020-03-25,21050.339844,22019.929688,20538.339844,21200.550781,21200.550781,796320000
2020-03-26,21468.380859,22595.060547,21427.099609,22552.169922,22552.169922,705180000
2020-03-27,21898.470703,22327.570312,21469.269531,21636.779297,21636.779297,588830000
2020-03-30,21678.220703,22378.089844,21522.080078,22327.480469,22327.480469,545540000

In [31]:
dji.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3333 non-null   float64
 1   High       3333 non-null   float64
 2   Low        3333 non-null   float64
 3   Close      3333 non-null   float64
 4   Adj Close  3333 non-null   float64
 5   Volume     3333 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 311.3 KB

In [33]:
dji.to_csv("dji.csv")

In [34]:
ticker_list

['MMM',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CVX',
 'CSCO',
 'KO',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'MCD',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'CRM',
 'TRV',
 'UNH',
 'VZ',
 'V',
 'WBA',
 'WMT']

### Get all `ticker_list` Const from `yfinance`

In [35]:
prices = yf.download(ticker_list, start = "2007-01-01", end="2020-03-31")
prices

[*********************100%***********************]  30 of 30 completed

            Adj Close                                                 \
                 AAPL        AMGN        AXP          BA         CAT
Date
2007-01-03   2.540326   50.349678  46.491997   64.405724   38.978710
2007-01-04   2.596711   52.506477  46.153091   64.665756   38.876740
2007-01-05   2.578219   52.631618  45.544605   64.391258   38.379623
2007-01-08   2.590952   52.212025  45.975933   64.239609   38.424244
2007-01-09   2.806181   52.462315  45.683235   63.560654   38.634560
...               ...         ...        ...         ...         ...
2020-03-24  60.351715  183.097977  80.007416  127.680000   93.388725
2020-03-25  60.019249  174.772903  85.833038  158.729996   96.457451
2020-03-26  63.177635  179.614166  88.802963  180.550003  101.830025
2020-03-27  60.561947  179.415070  84.462296  162.000000   97.167046
2020-03-30  62.290260  188.654114  85.928230  152.279999  102.945084

                                                                     ...  \
                   CRM       CSCO        CVX         DIS        DOW  ...
Date                                                                 ...
2007-01-03    9.017500  19.244228  37.850391   28.317095        NaN  ...
2007-01-04    9.470000  19.750841  37.482384   28.540648        NaN  ...
2007-01-05    9.880000  19.757780  37.626381   28.308815        NaN  ...
2007-01-08    9.982500  19.868816  38.106392   28.565491        NaN  ...
2007-01-09    9.990000  19.757780  37.669048   28.524086        NaN  ...
...                ...        ...        ...         ...        ...  ...
2020-03-24  153.639999  34.604515  57.365196   98.120003  24.129772  ...
2020-03-25  147.059998  33.770775  59.709785  100.730003  25.748596  ...
2020-03-26  154.729996  36.379566  65.838524  105.360001  25.155310  ...
2020-03-27  146.000000  34.801743  59.287422   96.400002  24.206051  ...
2020-03-30  149.850006  36.146477  62.019913   99.800003  24.282331  ...

              Volume                                                   \
                 MRK      MSFT       NKE        PG      TRV       UNH
Date
2007-01-03  15740226  76935100  17299200   9717900  3432800   8360300
2007-01-04  13115930  45774500  15085600   8711400  2068200   5152500
2007-01-05  11168431  44607200  14996800   9907900  2104600   6215700
2007-01-08   7384522  50220200  10109600  11068200  2440900   4344100
2007-01-09   9037114  44636600  15167200  10823800  1319500   5483900
...              ...       ...       ...       ...      ...       ...
2020-03-24  19901939  82516700  18849500  14625500  4293300   8894400
2020-03-25  18311494  75638200  27053200  13789100  4151400  10014000
2020-03-26  18052848  64568100  17200800  15796000  4610600   7517600
2020-03-27  12467218  57042300  14183400  16073100  3085400   4879500
2020-03-30  15803316  63420300  10960100  14571600  2733700   5329000


                     V        VZ       WBA       WMT
Date
2007-01-03         NaN  21445850   6294500  35687300
2007-01-04         NaN  19215860   3681800  17073000
2007-01-05         NaN  19047041   3680900  13556900
2007-01-08         NaN  20370917   4720800  16396400
2007-01-09         NaN  16281352   3792500  14643200
...                ...       ...       ...       ...
2020-03-24  24488300.0  40626900   9638400  14235000
2020-03-25  20619600.0  38551300  11040500  17762500
2020-03-26  17062900.0  32610900  11095700  19416900
2020-03-27  14950700.0  25363600   5898000  12053500
2020-03-30  15714500.0  20660200   7114900   9737500

[3333 rows x 180 columns]

In [36]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Columns: 180 entries, ('Adj Close', 'AAPL') to ('Volume', 'WMT')
dtypes: float64(152), int64(28)
memory usage: 4.6 MB

In [37]:
prices = prices.loc[:, "Close"].copy()

In [38]:
prices

,AAPL,AMGN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,DOW,...,MRK,MSFT,NKE,PG,TRV,UNH,V,VZ,WBA,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-03,2.992857,68.400002,60.360001,89.169998,61.160000,9.017500,27.730000,70.970001,33.738300,NaN,...,42.003819,29.860001,12.208750,64.540001,53.549999,52.570000,NaN,35.306732,46.070000,47.549999
2007-01-04,3.059286,71.330002,59.919998,89.529999,61.000000,9.470000,28.459999,70.279999,34.004654,NaN,...,43.043892,29.809999,12.333750,64.050003,53.099998,52.910000,NaN,35.502777,46.160000,47.779999
2007-01-05,3.037500,71.500000,59.130001,89.150002,60.220001,9.880000,28.469999,70.550003,33.728436,NaN,...,42.270992,29.639999,12.353750,63.500000,52.410000,52.549999,NaN,34.895969,45.500000,47.389999
2007-01-08,3.052500,70.930000,59.689999,88.940002,60.290001,9.982500,28.629999,71.449997,34.034248,NaN,...,42.261452,29.930000,12.316250,63.639999,52.020000,53.320000,NaN,34.363850,45.689999,47.000000
2007-01-09,3.306071,71.269997,59.310001,88.000000,60.619999,9.990000,28.469999,70.629997,33.984924,NaN,...,41.870228,29.959999,12.470000,63.480000,51.889999,52.680000,NaN,34.503880,45.930000,47.389999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-24,61.720001,202.339996,84.050003,127.680000,101.339996,153.639999,38.599998,66.550003,98.120003,28.469999,...,65.887405,148.339996,72.330002,103.269997,93.739998,219.800003,154.529999,49.990002,45.250000,115.029999
2020-03-25,61.380001,193.139999,90.169998,158.729996,104.669998,147.059998,37.669998,69.269997,100.730003,30.379999,...,65.095421,146.919998,79.010002,100.919998,92.180000,234.490005,161.779999,49.939999,41.439999,109.400002
2020-03-26,64.610001,198.490005,93.290001,180.550003,110.500000,154.729996,40.580002,76.379997,105.360001,29.680000,...,70.162216,156.110001,84.300003,107.379997,98.669998,255.389999,168.880005,53.540001,45.669998,109.820000
2020-03-27,61.935001,198.270004,88.730003,162.000000,105.440002,146.000000,38.820000,68.779999,96.400002,28.559999,...,68.444656,149.699997,83.230003,110.169998,99.949997,242.449997,161.559998,52.770000,44.000000,109.580002
2020-03-30,63.702499,208.479996,90.269997,152.279999,111.709999,149.850006,40.320000,71.949997,99.800003,28.650000,...,73.425575,160.229996,85.379997,115.000000,102.589996,251.279999,165.570007,54.770000,45.160000,115.190002

In [39]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    3333 non-null   float64
 1   AMGN    3333 non-null   float64
 2   AXP     3333 non-null   float64
 3   BA      3333 non-null   float64
 4   CAT     3333 non-null   float64
 5   CRM     3333 non-null   float64
 6   CSCO    3333 non-null   float64
 7   CVX     3333 non-null   float64
 8   DIS     3333 non-null   float64
 9   DOW     260 non-null    float64
 10  GS      3333 non-null   float64
 11  HD      3333 non-null   float64
 12  HON     3333 non-null   float64
 13  IBM     3333 non-null   float64
 14  INTC    3333 non-null   float64
 15  JNJ     3333 non-null   float64
 16  JPM     3333 non-null   float64
 17  KO      3333 non-null   float64
 18  MCD     3333 non-null   float64
 19  MMM     3333 non-null   float64
 20  MRK     3333 non-null   float64
 21  MSFT    3333 non-null   float64
 22  NKE     3333 non-null   float64
 23  PG      3333 non-null   float64
 24  TRV     3333 non-null   float64
 25  UNH     3333 non-null   float64
 26  V       3029 non-null   float64
 27  VZ      3333 non-null   float64
 28  WBA     3333 non-null   float64
 29  WMT     3333 non-null   float64
dtypes: float64(30)
memory usage: 807.2 KB

In [40]:
prices.to_csv("consti_prices.csv")